h1{
    text-align: center;
}


body{
    input{
        max-width: 800px;
        border: thin dashed;
    }

    background: lighten($secondary, 60);

    canvas{
        background: white;
        border : thin dashed;
        // width: 800px;
        // height: 600px;    
    }
    
    textarea{
        width: 800px;
    }

}